/* CSS Styles */
* {
  background-color: #ffea00;
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h1 {
  color: #101820ff;
  font-size: 36px;
  font-weight: 700; /* Bold */
}

.player-area,
.computer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-choices,
.computer-choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-rock img,
.player-paper img,
.player-scissors img,
.computer-rock img,
.computer-paper img,
.computer-scissors img {
  margin: 10px;
  height: 70%;
  width: auto;
}

.player-rock img:hover,
.player-paper img:hover,
.player-scissors img:hover {
  transform: scale(1.1);
}

.player-area p,
.computer-area p,
.scoreboard span,
.results p {
  font-size: 18px;
  font-weight: 700;
}

.player-area p {
  margin-top: 30px;
}

.scoreboard,
.results {
  display: flex;
  justify-content: space-evenly;
}

.player-score,
.computer-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-score p,
.computer-score p {
  font-size: 24px;
  font-weight: 700;
}

/* Properties for Selection */
.picked {
  transform: scale(1.1);
}
